@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "mario-hollow";
    src: url("./assets/fonts/MarioFont.ttf");
}

@font-face{
    font-family: "mario-filled";
    src: url("./assets/fonts/MarioFontFilled.ttf");
}